<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Save>
    <UserID>11111</UserID>
    <Theme>1</Theme>
    <Color>1</Color>
  </Save>
  <Save>
    <UserID>1105578089935974400</UserID>
    <Theme>1</Theme>
    <Color>3</Color>
  </Save>
  <Save>
    <UserID>22222</UserID>
    <Theme>1</Theme>
    <Color>1</Color>
  </Save>
  <Save>
    <UserID>33333</UserID>
    <Theme>1</Theme>
    <Color>1</Color>
  </Save>
  <Save>
    <UserID>709771255021494272</UserID>
    <Theme>2</Theme>
    <Color>2</Color>
  </Save>
</Settings>